.header-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #F2F2F2;
    padding: 2.3em 0;
   }
   .logo {
    margin-left: 5%;
   }
   .logo img {
    display: block;
   }
   nav {
    margin: 1.5em 0 0 5%;
   }
   header ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
   }
   header ul li a {
    text-decoration: none;
    color: #7D7C7D;
   }
   li a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-weight: 300;
   }
   li a:hover {
    color: #B6B6B6;
   }